body {
    background-color: lightgoldenrodyellow;
    
   }
#welcome {
    height:600px;
    background-image: url('acropole-768x512.jpg');
    background-size: cover;
    justify-content: center;
   }

.flex-container {
    display:flex;
    justify-content: space-around;
   }